<!DOCTYPE html>
<html>
<head>
  <title>Rodwooko - La Solution Livres en Ligne</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/navbar" %>
<div class="container">

  <% if flash[:notice] %>
      <div class="alert alert-success fade-in">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
      </div>
  <% end %>

  <% if flash[:alert] %>
      <div class="alert alert-info fade-in">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= alert %>
      </div>
  <% end %>

<%= yield %>
</div>

</body>
</html>
